 <ul class="nav-list">
     <li class="nav-list-item">
       <a href="#" , class="button">ツイート</a>
      </li>
     <li class="nav-list-item">
        <a href="#", class="button">ツイートと返信</a>
     </li>
     <li class="nav-list-item">
       <a href="#", class="button"> メディア</a>
     </li>
     <li class="nav-list-item">
         <a href="#", class="button">いいね</a>
     </li>
 </ul>