<ul>
     <li class="sidebar-list-item">
     <link href='https://css.gg/home-alt.css' rel='stylesheet'>
      <i class="gg-home-alt"></i>
      <a href="#" class="btn">ホーム</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/browse.css' rel='stylesheet'>
      <i class="gg-browse"></i>
      <a href="#" class="btn">話題を検索</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/bell.css' rel='stylesheet'>
      <i class="gg-bell"></i>
      <a href="#" class="btn">通知</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/mail.css' rel='stylesheet'>
      <i class="gg-mail"></i>
      <a href="#" class="btn">メッセージ</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/bookmark.css' rel='stylesheet'>
      <i class="gg-bookmark"></i>
      <a href="#" class="btn">ブックマーク</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/list.css' rel='stylesheet'> 
      <i class="gg-list"></i>
      <a href="#" class="btn">リスト</a>
    </li>
     <li class="sidebar-list-item">
      <link href='https://css.gg/user.css' rel='stylesheet'> 
      <i class="gg-user"></i>
      <a href="#" class="btn">プロフィール</a>
    </li>
     <li class="sidebar-list-item">
         <%= link_to 'ツイートする' , '/tweets/new' %>
    </li>
</ul>